main {
	@apply flex flex-col items-center mx-1 my-4 md:mx-2 xl:mx-10 xl:my-20;

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: 2fr 3fr 3fr 2fr;
		grid-template-areas:
		"book book book aside"
		"fav fav news news"
		"info info mail mail";
		place-items: center;
		gap: 2rem 1rem;
	}
	
	@media (min-width: 1280px) {
		grid-template-columns: 3fr 3fr 1fr;
		grid-template-areas:
			"book book aside"
			"fav news aside"
			"info mail .";
		gap: 5rem 2rem;
	}

}
