.carousel {
	@apply flex flex-col my-10 mx-2 w-full;
	overflow: hidden;
	height: 100%;

	@media (min-width: 768px) {
		margin: 0;
	}
	
	&__header {
		@apply self-start text-lg ml-5;
	}
	
	&__content {
		@apply flex pb-4 pt-1 overflow-x-scroll w-full snap-x snap-mandatory scroll-smooth;
		flex: 1 1 100%;
	}

	&__controls {
		@apply flex justify-center gap-2;
	}
}

.carousel__button {
	@apply bg-primary/50 aspect-square w-6 rounded-full;

	&:nth-child(even) {
		@apply xs:hidden;
	}

	&--selected {
		@apply bg-katt-light;
	}
}
