header {
	@apply bg-gradient-to-b from-primary;
}

.logo-container {
	@apply flex justify-around;

	.logo1,
	.logo2 {
		width: 5rem;
	}
}

.nav-container {
	@apply flex flex-col items-center;
	position: relative;

	button {
		@apply lg:hidden;
	}

	.event {
		background-color: #fac4d7;
		padding: 1rem;

		@media (min-width: 800px) {
			display: none;
		}
	}

	.event p {
		text-align: center;
	}

	nav {
		display: none;
		list-style: none;

		@media (min-width: 800px) {
			display: inline-block;
		}

		ul {
			@apply flex;
		}
	}


	a {
		margin-right: 1rem;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		color: red;
		text-decoration: underline;

	}
}
