.nav-menu {
	display: none;
	position: absolute;
	justify-content: center;
	top: 25vh;

	@media (min-width: 768px) {
		display: block;
		position: static;

	}

	ul {
		list-style-type: none;
		display: flex;

		flex-direction: column;
		width: 100vw;
		height: fit-content;
		background-color: #faabc7e8;
		text-align: center;
		padding: 2rem;
		gap: 1rem;
		border-radius: 10px;
		box-shadow: 0 0 5px 10px #faabc7d8;

		@media (min-width: 500px) {
			margin-top: -9vh;
			flex-direction: row;
			justify-content: space-around;

		}


		@media (orientation: landscape) {
			flex-direction: row;
			margin-top: 11vh;
			height: fit-content;

		}


		@media (min-width: 768px) {
			flex-direction: row;
			width: auto;
			height: auto;
			background-color: transparent;
			box-shadow: none;
			margin-top: auto;
		}

		a {
			text-transform: uppercase;
			
			&:hover {
				color: red;
				text-decoration: underline;
			}

			@media (min-width: 768px) {
				margin-right: 1rem;
			}
		}

	}

	&--show {
		display: block;


	}
}
