.nobel-container {
	@apply bg-gradient-to-b from-secondary/50 shadow;

	height: 20vh;
	width: 70vw;
	margin: 20px;
	margin-left: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}



.nobel {}

.nobel img {
	height: 12vh;
	width: 50vw;
	justify-self: center;
	margin-top: 10px;
	margin-left: 40px;



}

/*
.read-more-btn {
	height: 3vh;
	width: 15vw;
	background: rgb(246, 132, 201);
	background: linear-gradient(360deg, rgba(246, 152, 186, 0.56) 70%, rgba(255, 255, 255, 1) 80%);
	color: black;
	font: ;
	border-radius: 50%;
	box-shadow: ;
	margin-top: 10px;
	margin-left: 200px;
}
*/
