.hero-poe-wrapper {
	height: 50vh;
	width: 70vw;

}

.hero-poe-container {
	@apply bg-gradient-to-b from-secondary/50 shadow;

	max-height: 50vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.book-cover-veckans-tips {
	max-width: 25vw;

}

.poe-blurb {
	font-size: .5rem;
	align-self: flex-start;
}
