.hero-poe-wrapper {
	height: 50vh;
	width: 70vw;

}

.hero-poe-container {
	height: 20vh;
	width: 70vw;
	margin: 20px;
	margin-left: 50px;
	// box-shadow: -2px 0px 5px rgb(250, 196, 215);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgb(246, 132, 201);
	background: linear-gradient(180deg, rgba(246, 132, 201, 0.56) 35%, rgba(255, 255, 255, 1) 100%);
}

.book-cover-veckans-tips {
	height: 18vh;
	width: 25vw;
	margin-bottom: 50px;
	margin-left: 20px;
}

.poe-blurb {
	font-size: 9px;
	align-self: flex-start;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;

}