
.book {
	@apply bg-gradient-to-b from-secondary/50 shadow;

	max-height: 50vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&book__cover {
			max-width: 25vw;

		}

	&book__summary {
		font-size: .5rem;
		align-self: flex-start;
	}

}



